{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{title}}{% endblock title %}
{% block CSS %}
	<link rel="stylesheet" href="{% static 'css/mainStyleSheet.css' %}">
{% endblock CSS %}
{% block content %}
	<input type="text">
	<button id="search" type="submit" class="btn">Search</button>
	<br>
	<a href="/createplayers/"><button type="submit" class="btn btn-success" >Create room</button></a>
	<br>
	{%for room in rooms %}
		<div class="col-sm-3 block_blue">
			<div class="col-sm-12">{{room}}</div>
			<div class="col-sm-12">{%if room.game_type == "SP"%} <p>Simpleplay</p> {% else %} <p>Multiplay</p> {% endif %}</div>
			<div class="col-sm-12">{{room.data_begin}}</div>
			{% for character in characters %}
				{% if character.room == room %}
					<p>{{character}}</p> race:{{character.race}}
				{% endif %}
			{%endfor%}
		</div>

	{% endfor %}
{% endblock %}